#board {
  padding-top: 3em;
  text-align: center;
}
#Reset{
  font-weight: bolder;
  float:left;
  background-color: brown;
  
}

body{
   align-items: center;
  
}

.row > div {
  cursor: pointer;
  float: left;
  height: 100px;
  width: 100px;
  
}

.row {
    margin: auto;
    width:302px;
    clear: both;
}

.top {
  border-bottom: 1px black solid;
}
.left {
    border-right: 1px maroon solid;
}
.right {
    border-right: 1px red solid;
}
.bottom {
    border-top: 1px green solid;
}
